<footer>
    <ul class="links">
        <li class="links_item">
            <a href="https://medium.com/@_noratop" target="_blank">
                <svg class="medium gold bigger">
                    <use xlink:href="./assets/img/icons_stroke.svg#medium"></use>
                </svg>
            </a>
        </li>
        <li class="links_item">
            <a href="https://twitter.com/_noratop" target="_blank">
                <svg class="twitter gold bigger">
                    <use xlink:href="./assets/img/icons_stroke.svg#twitter"></use>
                </svg>
            </a>
        </li>
    </ul>
</footer>
