<footer>
    <ul class="links">
        <li class="links_item mobile">
            <a href="mailto:top.nora@gmail.com" target="_blank">
                <svg class="email">
                    <use xlink:href="./assets/img/icons_stroke.svg#mail"></use>
                </svg>
            </a>
        </li>
        <li class="links_item mobile">
            <a href="https://www.linkedin.com/in/noratop" target="_blank">
                <svg class="linkedin">
                    <use xlink:href="./assets/img/icons_stroke.svg#linkedin"></use>
                </svg>
            </a>
        </li>
        <li class="links_item mobile">
            <a href="https://github.com/noratop" target="_blank">
                <svg class="github">
                    <use xlink:href="./assets/img/icons_stroke.svg#github"></use>
                </svg>
            </a>
        </li>
        <li class="links_item hidden">
            <a href="https://medium.com/@_noratop" target="_blank">
                <svg class="medium">
                    <use xlink:href="./assets/img/icons_stroke.svg#medium"></use>
                </svg>
            </a>
        </li>
        <li class="links_item hidden">
            <a href="https://twitter.com/_noratop" target="_blank">
                <svg class="twitter">
                    <use xlink:href="./assets/img/icons_stroke.svg#twitter"></use>
                </svg>
            </a>
        </li>
    </ul>
</footer>
