<header class="links">
    <ul class="links_list">
        <li class="links_list_item icon icon--first"><a href="mailto:top.nora@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
        <li class="links_list_item icon"><a href="https://www.linkedin.com/in/noratop" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li class="links_list_item icon"><a href="https://github.com/noratop" target="_blank"><i class="fa fa-github"></i></a></li>
        <li class="links_list_item icon"><a href="https://twitter.com/_noratop" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li class="links_list_item icon"><a href="https://medium.com/@_noratop" target="_blank"><i class="fa fa-medium"></i></a></li>
    </ul>
</header>
