<header class="header">
        <div class="header_logo">
            <svg version="1.1" class="header_logo_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 710.7 447.3" style="enable-background:new 0 0 710.7 447.3;" xml:space="preserve">
                <rect id="Na" x="276.1" width="73.9" height="217.3"/>
                <polygon id="Nb" points="350,230.5 350,447.3 217.5,230.5"/>
                <rect id="Ta" x="361.7" y="230.5" width="217.3" height="73.9"/>
                <polygon id="Tb" points="362,217.5 362,74 471.1,217.5 "/>
            </svg>
        </div>
        <div class="header_menu">
            <div class="header_menu_title_wrapper">
                <h1 class="header_menu_title header_menu_title--name">NORA TOP</h1>
                <h1 class="header_menu_title header_menu_title--job">Web Developer</h1>
                <p class="header_menu_title_location">Montreal, Canada</p>
            </div>

            <div class="header_menu_links">
                <ul class="header_menu_links_list">
                    <li class="header_menu_links_list_item header_menu_links_info"><a href="#whoiam">Who I am</a></li>
                    <li class="header_menu_links_list_item header_menu_links_info"><a href="#whatido">What I do</a></li>
                    <li class="header_menu_links_list_item header_menu_links_info"><a href="#portfolio">Portfolio and side projects</a></li>
                    <li class="header_menu_links_list_item header_menu_links_icon header_menu_links_icon--first"><a href="mailto:top.nora@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
                    <li class="header_menu_links_list_item header_menu_links_icon"><a href="https://www.linkedin.com/in/noratop" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li class="header_menu_links_list_item header_menu_links_icon"><a href="https://github.com/noratop" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li class="header_menu_links_list_item header_menu_links_icon"><a href="https://twitter.com/_noratop" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li class="header_menu_links_list_item header_menu_links_icon"><a href="https://medium.com/@_noratop" target="_blank"><i class="fa fa-medium"></i></a></li>
                </ul>
            </div>
        </div>
</header>
