<header>
    <ul class="links">
        <li class="links_item icon icon--first">
            <a href="mailto:top.nora@gmail.com" target="_blank">
                <svg class="email">
                    <use xlink:href="./assets/img/icons.svg#mail"></use>
                </svg>
            </a>
        </li>
        <li class="links_item icon">
            <a href="https://www.linkedin.com/in/noratop" target="_blank">
                <svg class="linkedin">
                    <use xlink:href="./assets/img/icons.svg#linkedin"></use>
                </svg>
            </a>
        </li>
        <li class="links_item icon">
            <a href="https://github.com/noratop" target="_blank">
                <svg class="github">
                    <use xlink:href="./assets/img/icons.svg#github"></use>
                </svg>
            </a>
        </li>
    </ul>
    <div class="avatar">
        {% include avatar.html %}
    </div>
    <div class="title">
        <h1 class="title__name">Nora Top </h1>
        <h1 class="title__job">Full Stack Web Developer</h1>
    </div>
</header>
