<div class="header_logo">
    <svg version="1.1" class="header_logo_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 710.7 447.3" style="enable-background:new 0 0 710.7 447.3;" xml:space="preserve">
        <rect id="Na" x="276.1" width="73.9" height="217.3"/>
        <polygon id="Nb" points="350,230.5 350,447.3 217.5,230.5"/>
        <rect id="Ta" x="361.7" y="230.5" width="217.3" height="73.9"/>
        <polygon id="Tb" points="362,217.5 362,74 471.1,217.5 "/>
    </svg>
</div>
