<section id="portfolio" class="portfolio">
    <ul class="portfolio_list">
        {% for project in site.data.portfolio.list %}
        <li class="project">
            <a href="{{project.link}}" target="_blank">
                <div class="screenshot">
                    <img src="/assets/img/{{project.screenshot}}" alt="{{project.title}}">
                </div>

                <div class="details">
                    <p>{{project.description.paragraph[0]}}</p>
                    <ul>
                        {% for item in project.description.list %}
                        <li>_ {{item}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
