<p id="whatido" class="profile">
    <span class="gold">Node</span>, Express, SQL, <span class="gold">React</span>, Redux, SASS, ES6.
    Hopefully soon GraphQL and Relay
    </br>Current daily stack: Node, <span class="gold">Express</span>, Mongo, Polymer
    </br>Build process: Grunt, Gulp, npm, CommonJS, Webpack</p>
</p>
<p id="whoiam" class="profile">
    I love <span class="gold">making</span> things, and I code to challenge my <span class="gold">creativity.</span>
    </br>When I don't code, I craft, I cook, I play music, I design graphics, and I travel.
</p>
