<section class="portfolio">
    <div class="portfolio_wrapper">
        <h1 class="portfolio_title">Work in progress</h1>
        <ul class="portfolio_projectlist">
          {% for project in site.data.upcomings.list %}
            <li class="portfolio_projectlist_project">
              {% for text in project.desc %}
                <p>
                  {{text}}
                </p>
              {% endfor %}
            </li>
          {% endfor %}
        </ul>
    </div>
</section>
<section class="portfolio">
    <div class="portfolio_wrapper">
        <h1 class="portfolio_title">Future projects</h1>
        <ul class="portfolio_projectlist">
          {% for project in site.data.future.list %}
            <li class="portfolio_projectlist_project">
              {% for text in project.desc %}
                <p>
                  {{text}}
                </p>
              {% endfor %}
            </li>
          {% endfor %}
        </ul>
    </div>
</section>
