<section id="whatido" class="profile">
    <div class="profile_wrapper separator">
        <div>
            <h1 class="profile_title">WHAT I DO</h1>
            <p>I code whether I'm at the front or at the back.</p>
            <p>My comfort zone seats on Javascript to build any kind of websites or web applications, using:</p>
            <p>Node.js, Express.js, Loopback, MySQL, Sequelize.js, Parse.</p>
            <p>React.js, Backbone.js, Underscore.js &#38; Liquid templating, SASS and jQuery.</p>
            <p>Build process: Grunt, npm, CommonJS, Webpack.</p>
        </div>
    </div>
</section>
