// Custom Style
body {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1em;
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: $gray;
  font-size: 1.4em;

  h1 {
    font-weight: 100;
  }

  a {
    text-decoration: none;
    color: $gold;
  }
}


//  @include over-mobile {
//    //font-size: 1.5em;
//    // padding: 0 0 0 50vw;
//    font-weight: 100;
//    // font-size: 1.5em;
//  }
//}
//
//// on whoiam, whatido, portfolio
//.separator {
//  border-top: 5px $gold solid;
//}
