.links {

  list-style: none;
  margin-top: 2em;
  padding: 0;
  position: absolute;
  right: 2em;

  svg {
    stroke: $gray;
    stroke-miterlimit: 10;
    fill: none;
    width: 1.6em;
    height: 1.6em;

    &:hover {
      fill: $gray;
    }
  }

  a {
    color: $gray;
    font-weight: lighter;
  }

  &_item {
    margin: 0.1em 0.2em;
    text-align: right;
    //display: inline-block;
  }

  //@include over-mobile {
  //
  //}
}