.links {
  list-style: none;
  padding: 0;

  svg {
    stroke: $gray;
    fill: none;
    stroke-miterlimit: 10;
    width: 2.6rem;
    height: 2.6rem;

    @include over-mobile {
      width: 2.2rem;
      height: 2.2rem;
    }

    &:hover {
      fill: $gray;
    }

    &.gold {
      stroke: $gold;
      &:hover {
        fill: $gold;
      }
    }

    &.bigger {
      width: 2.6rem;
      height: 2.6rem;
    }
  }

  a {
    color: $gray;
  }

  &_item {
    display: inline-block;
    margin: 0.1rem 0.5rem;

    @include over-mobile {
      margin: 0.1rem 0.2rem;
    }
  }
}

header .links {
  margin: 10px auto;
  text-align: center;

  @include over-mobile {
    position: absolute;
    right: 2rem;
    margin-top: 2rem;
  }
}

footer .links {
  border-top: $gold 1px solid;
  max-width: 200px;
  margin: 6rem auto 0;
  padding-top: 0.5rem;
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 2rem;

  h1 {
    margin: 0;
    font-weight: 300;
  }

  &__job {
    font-size: 1.7em;
  }
}