.links {
  list-style: none;
  padding: 0;

  svg {
    stroke: $gray;
    fill: none;
    stroke-width: 1;
    width: 2.3rem;
    height: 2.3rem;
    fill: none;
    stroke: $gold;
    &:hover {
      fill: $gold;
    }

    @include over-mobile {
      stroke-width: 1.2;
    }
  }

  a {
    color: $gray;
  }

  &_item {
    display: inline-block;
    margin: 0.1rem 0.5rem;

    @include over-mobile {
      margin: 0.1rem 0.2rem;
    }
  }
}

header .links {
  display: none;
  margin: 10px auto;
  text-align: right;

  @include over-mobile {
    display: none;
    //display: block;
    position: absolute;
    right: 2rem;
    margin-top: 2rem;
  }
}

footer .links {
  border-top: $gold 1px solid;
  margin: 6rem auto 0;
  padding-top: 0.5rem;
  text-align: center;

  @include over-mobile {
    max-width: 200px;
  }

  svg {
    width: 2.6rem;
    height: 2.6rem;
    stroke: $gold;
    fill: $gold;

    @include over-mobile {
      fill: none;
      stroke: $gold;
      &:hover {
        fill: $gold;
      }
    }
  }

  .mobile {
    //@include over-mobile {
    //  display: none;
    //}
  }

  .hidden {
    display: none ;
  }
}

.title {
  text-align: center;
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-family: LemonMilk, Lato, sans-serif;
  font-size: smaller;
  line-height: 1;

  h1 {
    margin: 0;
  }

  &__job {
    font-family: TypoGraphica, Lato, sans-serif;
    font-size: 1.8em;
  }
}