.header {
  &--mobile {
    display: inherit;
    width:100vw;
    height: 100vh;
  }
}

.mobile {
  @include over-mobile {
    display: none;
  }

  z-index: 1;
  position: fixed;
  top: 100vh;
  left: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;

  &--visible {
    background-color: $gold;

    .fa {
      transform: rotate(180deg);
    }
  }

  &_button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    position: relative;
    left:-90px;
    top:-90px;
    width: 75px;
    height: 75px;
    padding-bottom: 8px;
    opacity: 0.9;
    color:$white;
    font-size: 2.3em;
    background-color: $gold;
    border-radius: 50%;
    border: 1px white solid;
    transition: transform 0.5s;
  }
}
