.portfolio {
  max-width: 900px;
  margin: 6em auto 0;

  &_list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.project {
  margin: 70px 0;
  padding: 5px;
  font-size: 0.8em;

  a {
    color: $gray;
    display: flex;
    flex-flow: column;

    @include over-mobile {
      flex-flow: row;
    }
  }

  &:nth-child(odd):hover {
    @include over-mobile {
      border-right: $gold 2px solid;
    }
  }

  &:nth-child(even) {
    @include over-mobile {
      &:hover {
        border-left: $gold 2px solid;
      }

      a {
        .details {
          order: -1;
        }
      }
    }
  }


  img {
    width: 100%;
    height: auto;
    box-shadow: 1px 1px 5px #ccc;
  }

  .screenshot {
    @include over-mobile {
      max-width: 300px;
    }
  }

  .details {
    padding: 0 25px;
    flex-grow: 1;
    flex-basis: 70%;

    p {
      @include over-mobile {
        margin: 0;
      }
    }

    ul {
      margin-top: 10px;
      padding: 0;
    }

    li {
      list-style: none;
    }
  }
}
