.portfolio {
  max-width: 900px;
  margin: 6em auto 0;

  &_list {
    margin: 0;
    padding: 0;
    list-style: none;

    @include over-mobile {
      display: flex;
      flex-flow: row wrap;
    }
  }
}

.project {
  flex-basis: 33%;
  font-size: 0.8em;
  position: relative;

  padding: 10px 0;
  @include over-mobile {padding: 0;}

  a {
    color: $gray;
    display: flex;
    flex-flow: column;

    @include over-mobile {
      flex-flow: row;
    }
  }

  img {
    width: 100%;
    height: auto;
    box-shadow: 1px 1px 5px #ccc;
  }

  .screenshot {
    @include over-mobile {
      padding: 5px;
    }
  }

  .details {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: smaller;

    ul {
      height: calc(100% - 3px);
      padding: 10px;
      color: #eee;
      background-color: rgba(0, 0, 0, 0.6);
      font-family: LemonMilk, Lato, sans-serif;
    }

    li {
      list-style: none;
    }

    @include over-mobile {
      font-size: 1.8vw;
      padding: 5px;
      display: none;
      position: absolute;
      top: 0;
    }

    @include over-tablet {
      font-size: inherit;
    }
  }

  &:hover .details {
    display: inline-block;
  }
}
