.profile {
  padding: 0 20px;

  &_wrapper {
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &_title {
    display: none;
  }

  @include over-mobile {
    p {
      font-size: 1.2em;
    }
  }
}
