//Colors
//$gold: #C5B358;
$gold: #cbaf00;
$gray: darken(#a5a384,30);
$white: #fff;
$black: #343434;
$avatar:$gray;
$logo:$gray;

$tablet-width: 400px;
$desktop-width: 1024px;

@mixin tablet {
  // @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
  @media only screen and (min-device-width: #{$tablet-width}){
    @content;
  }
}

/*
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}*/

@mixin sketch($y, $delay) {
  opacity: 0;
  // animation:
  transform: translateY($y);
  animation: fadein 0.15s ease-in forwards, retranslate 0.15s linear forwards;

  &:nth-child(n) {
    animation-delay: $delay;
  }

  &:nth-child(odd) {
    animation-delay: $delay + 0.2s;
  }

  &:nth-child(3n) {
    animation-delay: $delay + 0.4s;
  }

  &:nth-child(3n+2) {
    animation-delay: $delay + 0.6s;
  }
}

@keyframes retranslate {
  to {
    transform: translate(0, 0);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}

@keyframes slideleft {
  to {
    left: 0;
  }
}

// Paul Irish Box-Model
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// Custom Style
body {
  margin: 0;

  font-family: Lato, sans-serif;
  font-weight: 300;
  color: $gold;
  font-size: 3.7em;

  h1 {
    font-weight: 100;
  }

  a {
    text-decoration: none;
    color: $white;
  }

  @include tablet {
    //font-size: 1.5em;
    padding: 0 0 0 50vw;
    font-weight: 100;
    font-size: 1.5em;

    .mobile-button {
      display: none;
    }

    nav {
      display: inherit;
      p { font-size: 0.9em;}
      .job { font-size: 1.4em;}

      .titles {margin-top:1.5em;}
    }

  }
}

.mobile-button {
  color:$white;
  font-size: 2.2em;
  position: fixed;
  right: 5vw;
  top: 82vh;
  background-color: $gold;
  width: 200px;
  height:200px;
  padding: 30px 10px 15px 35px;
  border-radius: 50%;
  vertical-align: bottom;
  border: 2px white solid;
}

.mobile {
  display: inherit;
  width:100vw;

  div.links li {
    margin: 0.2em 0;
  }
}

nav {
  display: none;
  position: fixed;
  left:0;
  height: 100vh;
  width:50vw;
  background-color: $gold;
  color: $white;

  div.logo-wrapper {
    height: 100vh;
    padding: 30vh 0;

    svg#logo {
      display: block;
      width: 100%;
      height: 100%;
      fill: $logo;
    }

    &:hover {
      cursor: pointer;
    }
  }

  div.titles {
    text-align: center;

    h1 {
      margin: 0;
      color: $white;
    }

    p {
      margin:0;
      font-size: 0.9em;
    }

    .job {
      font-size: 1.4em;
      font-weight:300;
    }
  }

  div.links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    
    ul {
      list-style: none;
      margin: 20px 0 0 0;
      padding: 0;

      li {
        padding: 2px 20px;
        font-size: 1.3em;

        &.info {
          font-size: 1.1em;
        }

        &:hover {
          background-color: $white;

          a {
            color: $gold;
          }
        }

        &:not(.icon) + .icon {
          margin-top: 20px;
        }

        &.icon {
          display: inline-flex;
          align-items: center;
          font-size: 1.7em;
        }
      }
    }
  }
}

header {

  flex: 1 0;
  height: 100vh;
  padding: 120px 0;

  svg.avatar {
    margin: 0 auto;
    display: block;
    width:100%;
    height: 100%;
    fill: $avatar;

    .st1 {
      filter: url(#Adobe_OpacityMaskFilter);
    }
    .st3 {
      mask: url(#SVGID_1_);
    }
    .st4 {
      filter: url(#Adobe_OpacityMaskFilter_1_);
    }
    .st5 {
      mask: url(#SVGID_2_);
    }

    .st0 {
      fill: none;
      stroke: $avatar;
      stroke-linecap: round;
      stroke-width: 1;
      stroke-dasharray: 150;
      stroke-dashoffset: 150;
      animation: dash 1.8s linear forwards;
    }
    .pupil {
      opacity: 0;
      animation: fadein 0.6s ease-in 0.5s forwards;
    }
    .eyebrows path {
      @include sketch(4px, 1.6s);
    }
    .beard path {
      @include sketch(-7px, 2.2s);
    }
    .hair path {
      @include sketch(-5px, 2.6s);
    }
    .beardtop path {
      @include sketch(-4px, 2.8s);
    }
    .moustach path {
      @include sketch(-4px, 3.2s);
    }
  }
}

section {
  padding: 0 20px;

  h1 {
    display: none;
  }

  .wrapper {
    border-top: 5px $gold solid;
  }

  &#whoiam, &#whatido {
    .wrapper {
      height: 100vh;
      overflow: auto;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }

    p {
      font-size: 1.2em;
    }
  }

  &#projects {
    font-size: 0.9em;

    h1 {
      display: inline-block;
      font-size: 1 em;
    }

    h2 {
      margin:0 0 0.5em 0;
      font-size: 1.3em;
      font-weight:300;
      color: $gray;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    ul.rows {
      list-style-type: square;

      ul.images {
        list-style: none;
        display: flex;
        flex-flow: row wrap;

        li {
          padding: 0 5px;
          flex-basis: 50%;

          img {
            width:100%;
            background-color: white;
            cursor: pointer;
          }
        }
      }

      & > li {
        background-color: rgba(165, 163, 132, 0.07);
        margin: 20px 0;
        padding: 10px;
      }

      ul.desc {
        list-style: none;
        margin-top:1em;

        li {
          border : none;
          font-style: italic;
        }
      }
    }
  }
}


.overlay {
  padding: 100px;
  position: fixed; top: 0; left: 0; width:100vw; height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  align-items: center; display: flex; justify-content: center;
  cursor: pointer;

  img {
    width:100%;
    background-color: white;
  }
}