html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

@font-face {
  font-family: 'LemonMilk';
  src: url("../font/LemonMilk.otf"); }

@font-face {
  font-family: 'TypoGraphica';
  src: url("../font/TypoGraphica.otf"); }

@keyframes retranslate {
  to {
    transform: translate(0, 0); } }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

@keyframes fadein {
  to {
    opacity: 1; } }

.overlay {
  padding: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer; }
  .overlay_img {
    width: 100%;
    background-color: white; }

body {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0.5em;
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: #53523d;
  font-size: 1.3em; }
  body h1 {
    font-weight: 100; }
  body a {
    text-decoration: none;
    color: #cbaf00; }
  @media only screen and (min-width: 670px) {
    body {
      padding: 2em; } }

.gold {
  color: #cbaf00; }

.links {
  list-style: none;
  padding: 0; }
  .links svg {
    stroke: #53523d;
    fill: none;
    stroke-width: 1;
    width: 2.3rem;
    height: 2.3rem;
    fill: none;
    stroke: #cbaf00; }
    .links svg:hover {
      fill: #cbaf00; }
    @media only screen and (min-width: 670px) {
      .links svg {
        stroke-width: 1.2; } }
  .links a {
    color: #53523d; }
  .links_item {
    display: inline-block;
    margin: 0.1rem 0.5rem; }
    @media only screen and (min-width: 670px) {
      .links_item {
        margin: 0.1rem 0.2rem; } }

header .links {
  display: none;
  margin: 10px auto;
  text-align: right; }
  @media only screen and (min-width: 670px) {
    header .links {
      display: block;
      position: absolute;
      right: 2rem;
      margin-top: 2rem; } }

footer .links {
  border-top: #cbaf00 1px solid;
  margin: 6rem auto 0;
  padding-top: 0.5rem;
  text-align: center; }
  @media only screen and (min-width: 670px) {
    footer .links {
      max-width: 200px; } }
  footer .links svg {
    width: 2.6rem;
    height: 2.6rem;
    stroke: #cbaf00;
    fill: #cbaf00; }
    @media only screen and (min-width: 670px) {
      footer .links svg {
        fill: none;
        stroke: #cbaf00; }
        footer .links svg:hover {
          fill: #cbaf00; } }
  @media only screen and (min-width: 670px) {
    footer .links .mobile {
      display: none; } }

.title {
  text-align: center;
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-family: LemonMilk, Lato, sans-serif;
  font-size: smaller;
  line-height: 1; }
  .title h1 {
    margin: 0; }
  .title__job {
    font-family: TypoGraphica, Lato, sans-serif;
    font-size: 1.8em; }

.avatar {
  padding: 1rem 0; }
  @media only screen and (min-width: 670px) {
    .avatar {
      padding: 5rem 0 3rem; } }
  .avatar_svg {
    fill: #53523d;
    max-height: 400px;
    margin: 1em 15vw; }
    @media only screen and (min-width: 670px) {
      .avatar_svg {
        margin: 0; } }
    .avatar_svg_st1 {
      filter: url(#Adobe_OpacityMaskFilter); }
    .avatar_svg_st3 {
      mask: url(#SVGID_1_); }
    .avatar_svg_st4 {
      filter: url(#Adobe_OpacityMaskFilter_1_); }
    .avatar_svg_st5 {
      mask: url(#SVGID_2_); }
    .avatar_svg_st0 {
      fill: none;
      stroke: #53523d;
      stroke-linecap: round;
      stroke-width: 1;
      stroke-dasharray: 150;
      stroke-dashoffset: 150;
      animation: dash 1.8s linear forwards; }
  .avatar_pupil {
    opacity: 0;
    animation: fadein 0.6s ease-in 0.5s forwards; }
  .avatar_eyebrows path {
    opacity: 0;
    transform: translateY(4px);
    animation: fadein 0.15s ease-in forwards, retranslate 0.15s linear forwards; }
    .avatar_eyebrows path:nth-child(n) {
      animation-delay: 1.6s; }
    .avatar_eyebrows path:nth-child(odd) {
      animation-delay: 1.8s; }
    .avatar_eyebrows path:nth-child(3n) {
      animation-delay: 2s; }
    .avatar_eyebrows path:nth-child(3n+2) {
      animation-delay: 2.2s; }
  .avatar_beard path {
    opacity: 0;
    transform: translateY(-7px);
    animation: fadein 0.15s ease-in forwards, retranslate 0.15s linear forwards; }
    .avatar_beard path:nth-child(n) {
      animation-delay: 2.2s; }
    .avatar_beard path:nth-child(odd) {
      animation-delay: 2.4s; }
    .avatar_beard path:nth-child(3n) {
      animation-delay: 2.6s; }
    .avatar_beard path:nth-child(3n+2) {
      animation-delay: 2.8s; }
  .avatar_hair path {
    opacity: 0;
    transform: translateY(-5px);
    animation: fadein 0.15s ease-in forwards, retranslate 0.15s linear forwards; }
    .avatar_hair path:nth-child(n) {
      animation-delay: 2.6s; }
    .avatar_hair path:nth-child(odd) {
      animation-delay: 2.8s; }
    .avatar_hair path:nth-child(3n) {
      animation-delay: 3s; }
    .avatar_hair path:nth-child(3n+2) {
      animation-delay: 3.2s; }
  .avatar_beardtop path {
    opacity: 0;
    transform: translateY(-4px);
    animation: fadein 0.15s ease-in forwards, retranslate 0.15s linear forwards; }
    .avatar_beardtop path:nth-child(n) {
      animation-delay: 2.8s; }
    .avatar_beardtop path:nth-child(odd) {
      animation-delay: 3s; }
    .avatar_beardtop path:nth-child(3n) {
      animation-delay: 3.2s; }
    .avatar_beardtop path:nth-child(3n+2) {
      animation-delay: 3.4s; }
  .avatar_moustach path {
    opacity: 0;
    transform: translateY(-4px);
    animation: fadein 0.15s ease-in forwards, retranslate 0.15s linear forwards; }
    .avatar_moustach path:nth-child(n) {
      animation-delay: 3.2s; }
    .avatar_moustach path:nth-child(odd) {
      animation-delay: 3.4s; }
    .avatar_moustach path:nth-child(3n) {
      animation-delay: 3.6s; }
    .avatar_moustach path:nth-child(3n+2) {
      animation-delay: 3.8s; }

.profile {
  padding: 0 30px 1rem;
  text-align: center;
  font-size: smaller; }
  @media only screen and (min-width: 670px) {
    .profile {
      font-size: inherit;
      padding: 0 20px 1rem; } }

.portfolio {
  max-width: 900px;
  margin: 6em auto 0; }
  .portfolio_list {
    margin: 0;
    padding: 0;
    list-style: none; }
    @media only screen and (min-width: 670px) {
      .portfolio_list {
        display: flex;
        flex-flow: row wrap; } }

.project {
  flex-basis: 33%;
  font-size: 0.8em;
  position: relative;
  padding: 10px 0; }
  @media only screen and (min-width: 670px) {
    .project {
      padding: 0; } }
  .project a {
    color: #53523d;
    display: flex;
    flex-flow: column; }
    @media only screen and (min-width: 670px) {
      .project a {
        flex-flow: row; } }
  .project img {
    width: 100%;
    height: auto;
    box-shadow: 1px 1px 5px #ccc; }
  @media only screen and (min-width: 670px) {
    .project .screenshot {
      padding: 5px; } }
  .project .details {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: smaller; }
    .project .details ul {
      height: calc(100% - 3px);
      padding: 10px;
      color: #eee;
      background-color: rgba(0, 0, 0, 0.6);
      font-family: LemonMilk, Lato, sans-serif; }
    .project .details li {
      list-style: none; }
    @media only screen and (min-width: 670px) {
      .project .details {
        font-size: inherit;
        padding: 5px;
        display: none;
        position: absolute;
        top: 0; } }
  .project:hover .details {
    display: inline-block; }
